#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainContainer {
  min-height: 720px;
  gap: 25px;
  min-width: 400px;
  background-image: linear-gradient(45deg, #d7ffee, #77fbc4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.searchContainer input {
  min-width: 360px;
  border-width: 0cap;
  min-height: 36px;
  border-radius: 10px;
}
.searchIcon {
  max-height: 36px;
  width: 36px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}

.weatherIcon {
  min-height: 125px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.results,
.dailyResult {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extraResults {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: space-around;
}

.humidity-wrapper,
.wind-wrapper {
  display: flex;
  flex-direction: row;
}
