#mainContainer {
  margin: 0 auto;
  padding: 20px;

  width: clamp(320px, 90vw, 1400px);
  min-height: calc(90vh - 80px);

  background: linear-gradient(
    to bottom,
    rgba(200, 230, 254, 0.05),
    rgba(143, 191, 242, 0.25)
  );

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 150, 200, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 4vw, 40px);
}
.searchContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.searchContainer input {
  background: rgba(255, 255, 255, 0.25); /* Transparent white */
  backdrop-filter: blur(15px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(15px); /* Safari support */

  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 2);
  box-shadow: 0 8px 32px rgba(0, 150, 200, 0.25);

  min-width: 360px;
  border-width: 0cap;
  min-height: 36px;

  text-align: center;
}

.searchContainer input:focus {
  box-shadow: 0 8px 32px rgba(0, 150, 200, 1);
  outline: none;
}

.searchIcon {
  background: rgba(255, 255, 255, 0.25); /* Transparent white */
  backdrop-filter: blur(15px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(15px); /* Safari support */

  border-radius: 20px;
  border: 0px solid rgba(255, 255, 255, 2);
  box-shadow: 0 8px 32px rgba(0, 150, 200, 0.45);

  max-height: 36px;
  width: 36px;
  cursor: pointer;
}

.searchIcon:hover {
  box-shadow: 0 8px 32px rgba(0, 150, 200, 1);
  outline: none;
}

.weatherIcon {
  min-height: 125px;
}

.resultContainer {
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(94, 173, 199, 0.45);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(30px, 4vw, 40px);
}

.results,
.dailyResult {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dailyResult {
  box-shadow: 0 8px 32px rgba(0, 150, 200, 0.26);
  min-width: 120px;
  padding: 15px;
  border-radius: 15px;
}
.extraResults {
  display: flex;
  flex-direction: row;
  gap: clamp(25px, 10vw, 40px);
  align-items: center;
  justify-content: space-around;
}

.extraResults-daily {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(25px, 5vw, 40px);
  justify-content: center;
}

.humidity-wrapper,
.wind-wrapper {
  display: flex;
  flex-direction: row;
}
